#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  width: 500px;
  height: 500px;
  background-color:rgb(58, 58, 58);
}

.canvas-wrapper {
  display: flex;
  width: inherit;
  height: inherit;
  justify-content: center;
  align-items: center;
}